.Prijem{
    height: 100vh;
}

.logoPrijem{
    width: 200px;
}

.Prijem1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Prijem2{
    height: 100vh;

}

.Prijem1Row{
    width: 90%;
}

.Prijem2Row{
    width: 100%;
}

.Alertovi{
    position: fixed;
    top: 20px;
    width: 35%;
    padding: 0px !important;
    z-index: 1;
}

.Alertovi2{
    position: fixed;
    top: 20px;
    width: 35%;
    right: 0px;
    padding: 0px !important;
    z-index: 1;
}

.listacekanja{
    background-color: #f8f9fa;
    width: fit-content;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}


